*{
	margin: 0;
	padding: 0;
}

.container{
width: 100%;
height: 100px;
background-color: dimgray;
border-bottom: 4px solid #e8491d;
overflow: hidden;
}

h1{
	margin-left: 100px;

	margin-top: 30px;
	float: left;
	color: white;

}

#web{
	color: #e8491d;
}
nav{
	margin-right: 70px;
}
ul{
	text-decoration: none;
	float: right;
	margin-top:40px;

}

li{
	list-style: none;
	display: inline;
}

li a{
	text-decoration: none;
	margin-right: 50px;
	color: white;

}
.active a{
	color: #e8491d;
	font-weight: bold;
}

a:hover{
	color: #e8491d;
}

#container1{
	background: url('images/background_header.jpg');
	min-height: 400px;
	text-align: center;
	color: white;
}
#container1 h1{
	margin-top: 100px;
	font-size: 65px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 200px;
}
#container1 p{
	font-size: 20px;
	padding-top: 200px;
	margin: 0 45px 0 45px;
}
#container2{
	height: 100px;
	background-color: dimgray;
	color: white;
}
form{
	float: right; 

}
#container2 h2{
	margin-left: 100px;
	padding-top: 33px;
	position: absolute;
}


#email{
	margin-right: 5px;
	width: 250px;
	height: 27px;
	margin-top: 35px;
}
#button{
	background-color: #e8491d;
	color: white;
	height: 30px;
	width: 90px;
	border: 1px solid #e8491d;
	margin-right: 110px;
	margin-top: 35px;
}
#container3{
	width: 100%;
	text-align: center;
	margin-bottom: 40px;

}
.box{
	width: 250px;
	height: 300px;
	display: inline-block;
	margin: 30px 50px 0px 50px;
	text-align: center;
}
.box h2{
	margin: 15px 0 10px 0;
}
.box p{
	margin: 15px 0 10px 0;
}

/*about**/
.box1{
	margin-left: 100px;
	
	width: 700px;
	
	font-size: 18px;
	position: absolute;
}

.box1 h3{
	margin: 0px 0 20px 0;
}
.box2{
	margin-left: 100px;
	margin-top: 170px;
	width: 650px;
	margin-bottom: 30px;
	background-color: dimgray;
	padding: 20px;
	font-size: 18px;
	position: absolute;
	color: white;
	
}
.box3{
	width: 300px;
	height: 200px;
	background-color: dimgray;
	padding: 10px 13px 10px 13px;
	position: relative;
	margin-left: 900px;
	margin-top: 50px;
	color: white;




}

#containerabout{
	width: 100%;
	height: 400px;
}
.box3 h3{
	margin: 10px 0 10px 0;
}
footer{
	padding-top: 35px;
	height: 50px;
	background-color: #e8491d;
	color: white;
	text-align: center;
}
/* services**/
#Services {
	width: 100%;
	height: 570px;

}
.design, .maintenance, .hosting {
border: 1px solid lightgrey;
padding: 25px 15px 25px 15px;
margin-bottom: 5px;
background-color: lightgray;
text-align:  justify;

}

h3 {
	padding-bottom: 10px;
}

h2{
	padding-bottom: 15px;
}

#form_right{
	width: 270px;
	height: 230px;
	border: none;
	position: relative;
	float: right;
	margin-right: 100px;
	margin-top: 1%;
	background-color: gray;
	color: white;
	padding: 20px 15px 20px 15px;
	
}
.boxes{
	position: absolute;
	width: 60%;
	margin-left: 100px;
	margin-top: 1%;
	margin-bottom: 5px;
}
label, input{
	width: 250px;
	height: 20px;
	margin-right: 8px;
}
input{
    padding-left: 5px;
}
input[type=message]{
	height: 35px;
}

button{
	background-color: #e8491d;
	color: white;
	border-style: none;
	width: 65px;
	height: 35px;
	margin-top: 8px;
}



