#brand{
	height: 35px;
	display: inline-block;
	margin-right: 5px;

}
.img{
	background-image: url('images/mountains.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#head{
	font-size: 70px;
}
.card{
	margin-top: 40px;
	margin-bottom: 40px;
}

.sec_2{
	background-color: gray;
}

.sec_2 input, button{
	margin: 30px 0 30px 0;
}



.sec_4 p{
	padding-bottom: 15px;
	border-bottom: 1px solid gray;
}
i{
	
	margin-right: 20px;
}


.img_top{
	position: absolute;
	top: 0px;
	left: 35%;
}

.card{
	border: 1px solid lightgray;
	padding-bottom: 15px;

}

.sec_6{
	background-color: #EDEDED;
}

.img_m{
	margin-top: 100px;
	margin-left: 50px;
}

.first_box{
	position: absolute;
	top: -15px;
}

.first_box1{
	position: absolute;
	top: -35px;
}

.img_top1{
	position: absolute;
	top: -40px;
	left: 35%;
}


@media (max-width: 768px) {

.first_box, .first_box1{
	position: static;	
}
