*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 110%;
}
li:hover {
  background-color: grey;
}
.navbar {
  border-bottom: white 3px solid;
  }
  .bg-1{
    color: white;
   background-image:url('home.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 150px 40px 200px 40px;
}
.buttons,input {
width: 90%;
margin: 0 auto;
}
input[type="submit"] {
  border-color: white;
}
.btn-dark {
   border-color: white;
   color: white;
}

.btn-primary {
   border-color: white;
   color: white;
}

.bg-2{
  background-color: grey;
  color: white;
  padding-bottom: 30px;
  }
.bg-3{
  padding-bottom: 30px;
}

  .img_text{
    padding: 30px;
  }
  .text_img {
    padding-bottom: 30px;
  }

  .bg-4 {
    background-color: grey;
    color: #ffffff;}
  }
 .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;}
      }
