body{
	margin: 0;
	padding: 0;
}

#brand{
	height: 40px;
}


#brand2{
	height: 100px;
}

#navbarNav ul{
	margin-left: 38%;
}
#navbarNav ul li{
	margin-left: 2%;
}

.carousel-item{
	

}

.img1{
	height: 250px;
	width: 100%;
}

h1{
	font-family: 'Prata', serif;
}

h3{
	font-family: 'Prata', serif;
}

#coupons{
	background: url('images/slide1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.collection{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#trusted{
	background: url('images/stage.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;


}

	
	.zoom1 {
		background-image: url('images/new-collection-1.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transition: all 0.7s;
		height: 150px;
	}
	.zoom1:hover{
		background-size:110%;
		
	}
	.zoom2 {
		background-image: url('images/new-collection-2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transition: all 0.7s;
	}
	.zoom2:hover{
		background-size:110%;
		
	}
	.zoom3 {
		background-image: url('images/new-collection-3.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transition: all 0.7s;
	}
	.zoom3:hover{
		background-size:110%;
		
	}
	.zoom4 {
		background-image: url('images/new-collection-4.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transition: all 0.7s;
	}
	.zoom4:hover{
		background-size:110%;
		
	}



