body {
  margin:0;
  padding: 0;
}

.img2{
  background-image:url("images/image1.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  margin: 0;
  padding: 0;
 /**linear-gradient rgba(50,146,166,0.8)**/
}
.m-0 {
  margin-top: 0;
}
.p-0 {
  padding: 0;
}

.p-40 {
  padding: 40px 0;
}
.white {
  color: white;
}
.contactImgSize {
  width: 60%;
  height: 90%;
  border-radius: 50%;
}
.buttonPositionAboutUs{
  margin: 20px 0;
}
.leonardoText {
  width: 80%;
  padding: 10px 0;
}
.row {
  margin: 0;
}
.textBlack {
  color:black;
}
.btn-deafult {
   border-color: red;
   color: red;
   background: white;
}
.carousel-inner {
  height: 500px;
}
.displayFlex {
  display: flex;
  justify-content: center;
}
.p-5 {
  padding: 20px 0;
}

.img3{
    
  background-image:url("images/media.jpg");
  background-repeat: no-repeat;
  height: 200px;
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;
}
.bg-grey {
	background: rgba( 15, 15, 10, 0.8);
	height: 200px;
}
.img-about {
   background-image:url("images/image1.jpg");
  background-repeat: no-repeat;
  height: 200px;
  background-position: center; 
  background-size: cover;
}

.red {
  background-color: red;
  color: white;
}
.blue{
  background: blue;
  color: white;
}
.bg-grey1 {
  background: rgba( 15, 15, 10, 0.8);
  height: auto;
  color: white;
}
.bg-grey2 {
  background: grey;
}
.bg-black {
  background: black;
}
@media screen and (max-width: 770px) {
   .thumbnail>img {
        display: none;
      }
}

@media screen and (max-width: 427px) {
      .inputAlign {
        width: 80%;
        margin: 10px 35px;
      }

      .carousel-inner {
        height: auto;
      }
      .displayFlex {
        display: flex;
        flex-direction: column;
      }

      