	body, html{
height: 100%;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: Georgia, sans-serif;

}

.logo{
	float: left;
	color: white;
	font-size: 20px;
	padding: 30px 10px 30px 200px;
	

}

.main_container{
	background:linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url('bg2.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.main_header{
	width: 100%;
	height: 90px;
	border-bottom: 1px solid gray;
}
nav {
	height:40px;
	width:600px; 
	display:block;
	float: right;
	text-align: center;
	padding-top: 30px;
}

nav a{
	display:block;
	text-decoration: none;
	font-size:10px;
	color:white;
	
}

nav a:hover{
	color:#C84F4F;
}

nav ul{
	list-style: none;
}

nav ul li{
	float:left;
	width:80px;
	height:40px;
	line-height: 30px;
	
}

nav ul ul li{
	position:relative;
	display:none;
	width: 150px;
	height: 30px;
}

nav ul ul{
	
}

nav ul ul ul{
	display:none;
}

nav ul li ul li a:hover{
	color: white;
	background: #C84F4F;
}

nav ul li:hover ul li{
	display: block;
	background-color:rgba(0,0,0,.5);
	color: white;
}

@keyframes navmenu{
	0%{
		opacity:0;
		top:5px;
	}
	100%{
		opacity:1;
		top:0px;
	}
}

nav ul ul li:hover ul{
	display:block;
	position:absolute;
	width:80px;
	left:150px;
	top:0px;
	color: white;
}

ul ul li a{
	text-align: left;
	padding-left: 10px;
}

.clear {
	clear: both;
}
.icons{
	padding-top: 200px;
	padding-left: 30%;
}

.fa-usb, .fa-wifi, .fa-chart-pie, .fa-broadcast-tower, .fa-undo-alt{
	width: 60px;
	height: 60px;
	border: 1px solid gray;
	padding: 20px 20px 20px 20px;
	color: gray;
	margin-right: 10px;

}
.fa-usb:hover, .fa-wifi:hover, .fa-chart-pie:hover, .fa-broadcast-tower:hover, .fa-undo-alt:hover{
	background: #C84F4F;
	color:white;
	border: 1px solid gray;
	

}

.text_1{
	text-align: center;
	padding: 20px 50px 20px 50px;
	color: white;
}

.text_1 h2{
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.text_1 p{
	margin: 5px 200px 20px 200px;
}

input[type=button]{
	width: 200px
	height: 60px;
	background: transparent;
	color: white;
	border: 1px solid gray;
	padding: 20px;
	margin-left: 42%;
}
input[type=button]:hover{
	background-color: #C84F4F;
	color: white;
}
.container_two{
    width: 100%;
	margin-top: 80px;
	text-align: center;

}
.box1, .box2, .box3 {
	display: inline-block;
	width: 22%;
	border: 1px solid red;
	margin-right: 10px;
	margin-bottom: 50px;
	padding: 20px;
	text-align:center;

}
.fa-globe, .fa-tripadvisor, .fa-jedi-order {
	float: left;
	
	padding-top:10px;
	}
	 .box1 h3 {
	 	padding-bottom: 5px;
	 	color: white;

	 }
	 .box3 h3 {
	 	padding-bottom: 5px;
	 	color: white;
	 }
		.box1 {
		background-color: #C84F4F;
		color: white;
		
	}

	.box3 {
		background-color: #C84F4F;
		color: white;
		
	}

	.fa-globe, .fa-jedi-order {
	  padding: 5px;
      color:white;
      border-bottom: 1px solid white
      }
      .box2 {
      	color: gray

}
.box2 h3 {
	padding-bottom: 5px;
}
.fa-tripadvisor {
	padding: 5px;
	color: #C84F4F;
	border-bottom: 1px solid #C84F4F;
} 

/* container_3 sliki **/
/* container_3 sliki **/


.dictum {
	text-align: center;
	color: grey;
	margin-bottom: 40px;

}
.dictum h2{
line-height: 50px;
padding-top: 15px;
margin-top: 10px;
}
.dictum span {
	color: #C84F4F;
}/*galerija**/

.galery {
	width: 100%;
	background-color: #E8EAEB;
	height: 100%;
	padding-top: 30px;
}

span a {
	color: #C84F4F;
	text-decoration: none;
}

.sliki {
	
	overflow: auto;
	display: inline-block;
	width: 80%;
	margin-left: 15%;
}

.nula {
	background-image: url('mobile1.jpeg');
	background-size: cover;
	}
	.prva {
	background-image: url('mobile2.jpeg');
	background-size: cover;
	}
	.vtora {
	background-image: url('mac1.jpeg');
	background-size: cover;
}

	.treta {
	background-image: url('mac2.jpeg');
	background-size: cover;
}

	.cetvrta{
	background-image: url('mac3.jpeg');
	background-size: cover;
}
	.petta {
	background-image: url('mac4.jpeg');
	background-size: cover;
}


.nula, .prva, .vtora, .treta, .cetvrta, .petta {
    margin: 1%;
    width:25%;
    height: 19%;
    float:left;
   }


.sliki h5 {
	font-size:14px;
	margin-top: 175px;
	box-shadow: 5px;
	background-color:rgba(0,0,0,.5);
	color: white;
	padding: 10px 5px 10px 5px;
}

.sliki h5:hover {
background: #C84F4F;
color: white;
padding-left: 2px;
}



.clear{
 	clear: both;
 }
.inp input[type=button]{

	width: 15%;
	height: 60px;
	background: transparent;
	color: grey;
	border: 1px solid gray;
	margin-left: 40%;
	margin-top: 30px;
	padding: 5px;
	

}
 .inp input[type=button]:hover{
	background-color: #C84F4F;
	color: white;
	
}
.inp  {
	padding-bottom: 50px;
}
.lectus {
	text-align: center;
	color: grey;
	margin-bottom: 30px;
}
.input {
	padding-bottom: 30px;
}

/*tri sliki**/


.lectus h3 {
	padding-top:30px;
	margin-top: 40px;
}
.main3{
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	color: grey; 
}
.box{
	width: 250px;
	height: 300px;
	display: inline-block;
	margin: 30px 5px 0px 5px;
	text-align: center;
}
.box h4{
	margin: 10px 0 10px 0;
	padding-top: 30px;
}
.box a{
	margin-top: 10px;
}
/** footer*/



.countainer_five{
	background-image:linear-gradient(rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)), url('images/bglast.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-position: center;
	width: 100%;
}

#top_text{
	color: white;
	text-align: center;
	padding-top: 50px;
}



input[type=email]{
	background-color: black;
	color: gray;
	border: none;
	padding: 6px;
	width: 40%;
	margin-left: 30%;
	margin-top: 35px;
	margin-bottom: 80px;
}
.fa-share{
	position: absolute;
	margin-left: -20px;
	margin-top: 40px;
	color: #C84F4F;
}




footer{
	height: 70px;
	background-color: black;
	color: white;
}

#foot1{
	margin-left: 15%;
	padding-top: 20px;
	color: gray;
}

#foot2{
	float: right;
	margin-top: -18px;
	margin-right: 15%;
	color: gray;
}

.box_4, .box_5, .box_6{
		width: 22%;
		margin:20px 20px 20px 20px;
		display: inline-block;	
}
.box_4{
	margin-left: 15%;
}
.box_4 p{
	padding-bottom: 20px;
	line-height: 23px;
}
.box_4 h3{
	padding-bottom: 20px;
}
.box_6 h3{
	padding-bottom: 7px;
}
.boxes2{
	width: 100%;
	
}

.box_4, .box_5, .box_6{
	line-height: 14px;
}

.box_4 h3{
	color: #F0F2F2;
	margin-bottom: 10px;
}

.box_4 p{
	color: gray;
	font-style: sans-serif;
	margin-bottom: 10px;
}

.fa-facebook-f, .fa-twitter, .fa-dribbble, .fa-linkedin-in, .fa-google-plus-square, .fa-vk{
	background: #C84F4F;
	color: black;
	width: 8%;
	height: 8%;
	text-align: center;
	padding: 2%;
	margin-right: 5px;
}
.box_5 h3{
	color: #F0F2F2;
	margin-bottom: 25px;
}
.box_5 i{
	position: absolute;
	color: gray;
}

.box_5 p{
	color: gray;
	font-style: sans-serif;
	margin-bottom: 30px;
	margin-left: 35px;
	border-bottom: 1px solid gray;
	padding-bottom: 25px;
}
.box_6 h3{
	color: #F0F2F2;
	margin-bottom: 25px;
}
.box_6 p{
	color: gray;
	font-style: sans-serif;
	margin-left: 35px;
	margin-bottom: 15px;
	
}
.text_botton{
	border-bottom: 1px solid gray;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.box_6 h5{
	color: #C84F4F;
	margin-bottom: 10px;
}
.box_6 h5{
	padding-bottom: 12px;
}
