* {
	margin: 0;
	padding: 0;
	font-family: Calibri, Sans-serif;
}
.main_contaier {
	width: 100%;
	color: white;
}
.container1{
	line-height: 70px;
	width: 100%;
	height: 80px;
	background-color: #e5f9ff;
}
.logo h2 {
	width: 20%;
	float: left;
	margin-left: 150px;
	font-size: 40px;
	color: #575757;
}
.nav {
 width: 60%;
 float: left;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	margin-right: 50px;
} 

ul li a {
	font-size: 16px;
	margin-right: 18px;
	text-decoration: none;
	color: #575757;
}

/** containe2**/


.container2 {
	background-image: url('banner-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
	text-align: center;
}
.name {
	padding-top: 90px;
	padding-bottom: 60px;
	line-height: 35px;
	color: white;
}
button {
	padding: 10px;
	background-color: #ff6666;
	font-size: 12px;
	color: white;
	border:none;
}

#lord{
	font-size: 50px;
	margin: 10px 0;
}
/** conteiner3 **/


.container3 {
text-align: center;
width: 80%;
margin-left: 17%;
margin-top: 5%;
}
.prva_slika, .creira, .vtora_slika {
	float: left;
}
.creira {
	background-color: #ff6666;
	padding: 20px;
	text-align: center;
	color: white;
	width: 30%;
	height: 20%;
	
}
.creira h4 {
	background-color: #ffc2b3;
	padding: 20px 35px;
	text-align: center;
}
.creira h3{
	padding-bottom: 10px;

}
.prva_slika, .vtora_slika {
	padding-top: 50px;
}
.creira p {
	padding: 15px 5px;}

.creira button {
	background-color: white;
	color: #ffad99;
	border: 1px solid white;
	border-radius: 5%;
	margin-bottom: 25px;
}
.clear{
	clear: both;
}
/** tri sliki vo krug**/


.container4 {
	
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.krug_slika {
	display: inline-block;
	text-align: center;	
	margin-left: 15%;
}
#img_krug{
	border: 10px solid #cceeff;
	border-radius: 50%;
}

.krug_slika h4 {
	margin-top: 15px;
}
/**rezervacii **/
.container5 {
	margin-top: 70px;
	width: 100%;
	height: 450px;
	background-image: url('book-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.name2 {
	color: white;
	text-align: center;
	line-height: 120px;
}
.img_left {
	float:left;
	margin-left: 26%;
}

.rezervaton_right {
	float: left;
	background: white;
	display: inline-block;
	width: 350px;
	height: 250px;
	text-align: center;
}
.day, .hour, .full_name, .phone, .persons, .b_table {
	display: inline-block;
	line-height: 70px;
	margin-left: 5px;


	
}
.rezervaton_right {
	text-align: center;
	padding-top: 30px;


}
#day {
	padding: 15px;
}
select {
	padding:10px;
	width: 160px;
	border: none;
	border-bottom: 1px solid grey;
}
.rezervaton_right input {
	padding: 10px;
	width: 140px;
	border:none;
	border-bottom: 1px solid grey;
}
.b_table{
	width: 160px;

}

/**container6 weecly**/

.container6 {
	width: 100%;
	height: 100%;
	position: relative;

}
.container6 h2 {
	text-align: center;
	padding: 50px;}
.box {
	width: 28%;
	height: 400px;
	background-color: #e5f9ff;
	display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
    position: relative;
}

.text-block1{
	position: absolute;
	background-color: white;
    color:#ffad99;
    padding: 10px;
   bottom: 155px;
   right: 19px;
    
}


.box img {
	margin:0px 35px;	
}
.box h3{
	margin: 20px 35px;
	border-bottom: 1px solid gray;
}


.par {
	background-color: white;
	width: 300px;
	margin:0px 35px;

}

.par h4 {
	padding-left: 20px;
	padding-top: 10px;
}
.par p{
	padding: 15px;
} 

    /** container7 slikatekst**/
.container7{
	width: 100%;
	height: 100%;
	background-color: #e5f9ff;
	margin-top: 50px;
} 

.okt {
	width: 45%;
	float: left;
	position: relative;
	margin-left: 50px;
	padding-bottom: 60px;
}

.okt img {
	float: left;
}
.desen_tekst {

	float: left;
	background-color: white;
	width: 300px;
	height: 250px;
	
}
.top-left {
    position: absolute;
    background-color: white;
    color:#ffad99; 

}

.top-left h4{
	width: 100px;
	text-align: center;
	padding: 10px;
	background-color: #f0f0f5;
}

.desen_tekst button {
	border: none;
	background-color: white;
	color: #ffad99;
}
.desen_tekst h2{ 
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: center;
 }

 .desen_tekst h5{
 	text-align: center;
 	padding-bottom: 15px;
 }
 .desen_tekst p {
 	padding:10px;

 }

.container7 h3 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
/**CONTAINER8 **/
.container8 {
	width: 100%;
	height: 220px;
	background-image: url('signup-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
.container8 h4 {
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.container8 input {
	padding: 10px;
	width: 300px;
	margin-left: 450px;
}
.container8 button {
	background-color: transparent;
	border: 1px solid white;
	padding: 10px;
	width: 120px;
}

.container8 input{
	margin-right: 20px;
}

/*footer**/
.container9{
	width: 100%;
	height: 120px;
	background: #33334d;
	color: white;
}

.fab {
background: white;
color: black;
border-radius:50%;
padding: 10px;
}

.fab:hover {
background: #ff6666;
color: black;
}

.container9 h5, .ikoni, .container9 p{
	display: inline-block;
	margin-left: 100px;
	
}

.foot{
	width: 70%;
	margin:0 auto;
}

.ikoni span{
	color: #ff6666;
}



/**PAGE 2**/



.menu{
	width: 75%;
	height: 400px;
	background-color: #e5f9ff;
	margin: 0 auto;
	margin-top: 70px;
}
.left_side img{
	float: left;
	margin-right: 30px;
}

.right_side {
	padding-right: 60px;
	height: 405px;
	padding-top: 20px;
}

.right_side h2{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.box_1{
	width: 230px;
	float: left;
	display: inline-block;
	background-color: white;
	margin-top: 30px;
	margin-right: 30px;

}

.img_1{
	position: relative;
}

.img_1 img{
	margin-bottom: 10px;
}


#price{
	position: absolute;
	padding: 10px;
	color: #ff6666;
	background-color: white;
	right: 0px;
	top: 120px;
}

.box_1 h4{
	padding-left: 20px;
}

.box_1 p{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.left_side1{ float: right;

}

.right_side1{
	float: left;

}

.left_side1 h2 { 
border-bottom: 1px solid black;
	padding-bottom: 10px;
}


/*---CONTACT US*/


.contact_container{
	width: 100%;
	height: 420px;
}

.message{
	width: 20%;
	float: left;
	padding-left: 70px;
	padding-top: 70px;
	height: 300px;
	margin-left: 50px;
	}

.contact{
	width: 45%;
	float: left;
}

#form_1 input{
	width: 200px;
	background-color: #DEDEDE;
	padding: 10px;
	color: #A6ACAD;
	border: none;
	margin-top: 40px;
	margin-bottom: 5px;
}

.message2{
	width: 20%;
	float: left;
}


#form_2 {
	width: 200px;
	height: 100px;
	background-color: #DEDEDE;
	padding: 10px;
	color: #A6ACAD;
	border: none;
	margin-top: 150px;
	margin-bottom: 40px;
}

#contact button{
	width: 220px;
	}


	.contact h1{
		margin-top: 70px;
		margin-bottom: 40px;
	}



	/*BLOG*/

	.blog_box{
		width: 60%;
		margin: 70px auto;
		background-color: #e5f9ff;
	}

	.box_img{
			background-image: url('blog_post_02.jpg');
			background-repeat: no-repeat;
			background-size:cover;
			background-position: center;
			height: 300px;
	}
	.box_img2{
			background-image: url('blog_post_03.jpg');
			background-repeat: no-repeat;
			background-size:cover;
			background-position: center;
			height: 300px;
	}
	.box_img3{
			background-image: url('blog_post_04.jpg');
			background-repeat: no-repeat;
			background-size:cover;
			background-position: center;
			height: 300px;
	}

	.date h4{
		color: #ff6666;
		background-color: #E3E7E8;
		padding: 10px;
		width: 100px;
	}

	.botton_text h3, p{
		padding-left: 20px;
	}

	.botton_text h3{
		padding-top: 20px;
	}

	#blog_button{
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #ff6666;
		background-color: transparent;
		font-weight: bold;
	}

	.pages{
		text-align: center;
		
		
	}


.list{
	display: inline-block;
	background-color: #e5f9ff;
	padding: 15px;
	font-weight: bold;
	margin-bottom: 50px;
	}

	.list:hover{
		background-color: #ff6666;
		color: white;
	}
