* {
	margin: 0;
	padding: 0;
}



.main_img {
	width: 100%;
	height: 600px;
	background-image: url('main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 60px;
}
.container {
	width: 80%;
	margin: 0 auto;
}

.main_img h4{
	color: #4d9405;
	
	letter-spacing: 4px;
	padding-top: 130px;

}

.main_img h2 {
	color: white;
	font-size: 60px;
  
	letter-spacing: 7px;
	margin-bottom: 20px;
	
}

.main_img button {
	
	background-color: #4d9405;
	color: white;
	padding: 10px;
	width: 10%;
	font-size: 10px;
	border:none; 
}
	
	.name3 {
		text-align: center;
		padding: 30px;
		padding-bottom: 30px;
		
}
/**container1**/
.main_container1 {
	width: 100%;
	height: 500px;
	margin-bottom: 110px;
	
}
.container1 {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid red;
	

} 
.left{
	width: 33%;
	height: 60%;
    float: left;
	}


.center {

	width: 33%;
	height: 85%;
	
	float: left;
}

.right{
	width: 30%;
	height:60%;

    float: left;
	

}
.box1 {
	margin: 30px 20px;
	}

.clear {
	clear: both;
}
/**container2**/
.container2 {
	width: 100%;
	height: 400px;
	background-image: url('bg-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;


	
}

.container2 .navodnici_tekst {
	width: 20%;
	height:70%
	color: white;
	font-size: 30px;
	padding-top: 30px;
}
.navodnici, .navodnici_tekst {
	float: right;
	margin-top:50px;
	margin-right: 100px;
	color: white;
	margin-right: 100px;

}
/**container3**/

.container3 {
	width: 90%;
	margin: 0 auto;
	height: 700px;
	background-color: grey;

	}
.box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {
	float: left;
	margin:10px;
}

.box2 {

	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	
	height: 300px;
	
	justify-content: flex-end;

	
} 
.box2 img, .box3 img {
	width: 100%;
	height: 70%;
}
.nameg {
	width: 100%;
	height: 30%;
	background: white;
}

.star, .star p{
color: #4d9405;

}
.box2 h4 {
	font-size: 8px;
} 

span {
color: black;
font-weight: bold;
}
.box3 {
	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	
	height: 300px;
	}
.box4 {
	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	background-image: url('p3.jpg');
	height: 300px;
	background-position: bottom;
	background-size: cover;
	justify-content: flex-end;

	
} 
.box5 {
	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	background-image: url('p4.jpg');
	height: 300px;
	background-position: center;
	background-size: cover;
	justify-content: flex-end;
	
} 
.box6 {
	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	background-image: url('p5.jpg');
	height: 300px;
	background-position: center;
	background-size: cover;
	justify-content: flex-end;
	
} 
.box7 {
	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	background-image: url('p6.jpg');
	height: 300px;
	background-position: center;
	background-size: cover;
	justify-content: flex-end;
	
} 
.box8 {
	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	background-image: url('p7.jpg');
	height: 300px;
	background-position: center;
	background-size: cover;
	justify-content: flex-end;
	
} 
.box9 {
	width: 22%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border: 1px solid black;
	background-image: url('p8.jpg');
	height: 300px;
	background-position: center;
	background-size: cover;
	justify-content: flex-end;


} 
.nameg h4, .star, .nameg p{

margin-left: 15px;

}
.nameg p {
	margin-bottom: 15px;
	color: grey;
}
.nameg h4 {

	font-size: 10px;

}
/**container4**/
.main_container4 {
	width: 100%;
	height: 600px;

}
.container4 {
	
	width: 100;
	height: 100%;



	
}
.centar_tekst1
 {
	width: 25%;
	height: 100%;
	background-image: url('12.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-flow:column; 

	justify-content: center;
	align-items: center;
	float: left;
} 

.centar_tekst2
 {
	width: 25%;
	height: 100%;
	background-image: url('13.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-flow:column; 

	justify-content: center;
	align-items: center;
	float: left;
} 
.centar_tekst3
 {
	width: 25%;
	height: 100%;
	background-image: url('14.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-flow:column; 

	justify-content: center;
	align-items: center;
	float: left;
}
.centar_tekst4
 {
	width: 25%;
	height: 100%;
	background-image: url('15.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-flow:column; 

	justify-content: center;
	align-items: center;
	float: left;
}  
.centar_tekst1 p, .centar_tekst2 p, .centar_tekst3 p, .centar_tekst4 p {
	color: green;
}
/**container5**/

.container5 {
	
	height: 500px;

	

}
.cvet {
	width: 30%;
	height: 100%;
	border:  1px solid grey;
     margin: 15px;
     float: left;

}
.cvet img {
	width: 100%;
	height: 50%;
}
.cvet button {
	background-color: black;
	color: white;
	padding: 10px;
	border: none;
	margin: 15px;
	width: 60%;
} 
.tekst4 {
	margin:20px ;
	
	text-align: justify;

}
.tekst4 h4 {
padding-bottom: 15px;
}
/** container 6**/
.main_container6 {
	margin-top: 150px;
	width: 100%;
	height: 300px;
	background-image: url('bg-3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.container6 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/**container7**/
.main_container7 {
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-between;


}
.address {
	width: 30%;
	height: 30%;
	display: flex;
	
	

} 


.phone {
	width: 30%;
	height: 30%;
	display: flex;
	
} 
.email {
	width: 30%;
	height: 30%;
	display: flex;


} 
.fa-map-marker, .fa-phone, .fa-envelope {
	padding: 10px;
	border-radius:50%;
	background-color: green;
	color: white;



}


/** container8**/
.main_container8 {
	width: 100%;
	height: 450px;
	background-color: black;
    color: grey;
}
.container8 h4 {
	padding-bottom: 20px;
}
.container8 {
	
	width: 90%;
	height: 70%;
    display: flex;
	margin-left: 60px;
    padding: 20px;
    border-bottom: 1px solid grey;
}
.about {
	width: 24%;
	height: 100%;
    line-height: 20px;
	margin-right: 20px;

}
.recent {
	width: 24%;
	height: 100%;
	margin-right: 20px;

}.eden {
	border-bottom: 1px solid grey;
	padding: 8px;
}

.tag_cloud {
	width: 24%;
	height: 400px;
	margin-right: 20px;
}
.tag {
	
	display: flex;
	flex-wrap: wrap;
}
.tag p {
	background-color: grey;
	color: white;
	padding: 8px;
	margin: 3px;
} 
.main_gallery{
	width: 22%;
	height: 100%;
	}
.galerija {
	
	width: 100%;
	height: 40%;
	
}
.galerija img {
	float: left;
	margin: 5px;
}
.clear {
	clear: both;
}
footer {

	width: 100%;
	height: 100px;
}
.ikoni2 {
	width: 100%;
	text-align: center;
    background-color:black;
	color: white;
	padding-bottom: 60px;
}

@media  screen and (max-width: 425px) {
	.main_img {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	
	.main_container1{
		display: block;
		width: 100%;
		margin-right: 0;
		height: auto;
	}
	.container1 {
		float: none;
		height: 500px;
	}
	.right {
		display: block;
		width: 100%;
		height: auto;
	}
	.left {
		display: block;
		width: 100%;
		height: auto;

	}
	.center{
		width: 100%;
		height: auto;
	}
	.main_container1 {
		display: block;
		margin-bottom: 100px;
	}
	.container1 {
		margin-bottom: 100px;
	}
	.container2 {
		display: block;
		margin-top: 600px;
		width: 100%;
		
	}
	.navodnici_tekst p{
	font-size: 15px;
	}
		
.main_3 {
	height: 500px;
}
	.container3 .box2 {
		width: 100%;
		display: block;
	}
.container3 {
	width: 100%;
	height: 2700px;
	display: block;
}
	
.container3 .box3 {
		width: 100%;
		display: block;
	}
.container3 .box4 {
		width: 100%;
		display: block;
	}

.container3 .box5 {
		width: 100%;
		display: block;
	}
.container3 .box6 {
		width: 100%;
		display: block;
	}
.container3 .box7 {
		width: 100%;
		display: block;
	}
.container3 .box8 {
		width: 100%;
		display: block;
	}
.container3 .box9{
		width: 100%;
		display: block;
	}
.container4 {
	width: 100%;
	display: block;
}
.centar_tekst1, .centar_tekst2 , .centar_tekst3, .centar_tekst4 {
	width: 100%;
	display: block;
}
.container5{
	margin-bottom: 1100px;
}
.cvet {
	width: 100%;
	display: block;


}
.eden{
	width: 100%;
	display: block;
}


.addres, .phone, .email {
	width: 100%;
	float: none;
	margin: 0;
	display: block;
}
.about, .recent, .tag_cloud, .main_gallery {
	width: 100%;
	background: black;
	display: block;
}
